@import "css/colors.css";
@import "css/header.css";
@import "css/hero.css";
@import "css/music.css";
@import "css/footer.css";

@font-face {
  font-family: 'bootstrap-icons';
  src: url('fonts/bootstrap-icons.woff2') format('woff2'),
       url('fonts/bootstrap-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  height: 100vh;
}

sup {
  vertical-align: top;
  font-size: 0.7em;
  position: relative;
  top: -0.5em;
}

.nowrap {
  white-space: nowrap;
}